html, body {
    font-family: monospace;
    height: 100%;
    margin: 0;
    position: relative;
}

.container {  
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1.5rem;
    grid-auto-flow: row;
}


#floating-square {
    padding: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    width: auto;
    height: auto;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    font-size: smaller;
    /* line-height: 50px; */
    cursor: pointer;
    z-index: 999; /* Ensure the square appears on top of other elements */
    border: 2px solid black;
}

.colorBox {
    width: 25%;
    font-size: .5rem;
}
  
  .a0 { grid-area: 3 / 3 / 4 / 4; }
  
  .a1 { grid-area: 3 / 4 / 4 / 5; }
  
  .a2 { grid-area: 3 / 5 / 4 / 6; }
  
  .a3 { grid-area: 4 / 5 / 5 / 6; }
  
  .a4 { grid-area: 5 / 5 / 6 / 6; }
  
  .a5 { grid-area: 5 / 4 / 6 / 5; }
  
  .a6 { grid-area: 5 / 3 / 6 / 4; }
  
  .a7 { grid-area: 4 / 3 / 5 / 4; }
  
  .Center { grid-area: 4 / 4 / 5 / 5; }
  
  .b0 { grid-area: 2 / 2 / 3 / 3; }
  
  .b1 { grid-area: 2 / 3 / 3 / 4; }
  
  .b2 { grid-area: 2 / 4 / 3 / 5; }
  
  .b3 { grid-area: 2 / 5 / 3 / 6; }
  
  .b4 { grid-area: 2 / 6 / 3 / 7; }
  
  .b5 { grid-area: 3 / 6 / 4 / 7; }
  
  .b6 { grid-area: 4 / 6 / 5 / 7; }
  
  .b7 { grid-area: 5 / 6 / 6 / 7; }
  
  .b8 { grid-area: 6 / 6 / 7 / 7; }
  
  .b9 { grid-area: 6 / 5 / 7 / 6; }
  
  .b10 { grid-area: 6 / 4 / 7 / 5; }
  
  .b11 { grid-area: 6 / 3 / 7 / 4; }
  
  .b12 { grid-area: 6 / 2 / 7 / 3; }
  
  .b13 { grid-area: 5 / 2 / 6 / 3; }
  
  .b14 { grid-area: 4 / 2 / 5 / 3; }
  
  .b15 { grid-area: 3 / 2 / 4 / 3; }
  
  .c0 { grid-area: 1 / 1 / 2 / 2; }
  
  .c1 { grid-area: 1 / 2 / 2 / 3; }
  
  .c2 { grid-area: 1 / 3 / 2 / 4; }
  
  .c3 { grid-area: 1 / 4 / 2 / 5; }
  
  .c4 { grid-area: 1 / 5 / 2 / 6; }
  
  .c5 { grid-area: 1 / 6 / 2 / 7; }
  
  .c6 { grid-area: 1 / 7 / 2 / 8; }
  
  .c7 { grid-area: 2 / 7 / 3 / 8; }
  
  .c8 { grid-area: 3 / 7 / 4 / 8; }
  
  .c9 { grid-area: 4 / 7 / 5 / 8; }
  
  .c10 { grid-area: 5 / 7 / 6 / 8; }
  
  .c11 { grid-area: 6 / 7 / 7 / 8; }
  
  .c12 { grid-area: 7 / 7 / 8 / 8; }
  
  .c13 { grid-area: 7 / 6 / 8 / 7; }
  
  .c14 { grid-area: 7 / 5 / 8 / 6; }
  
  .c15 { grid-area: 7 / 4 / 8 / 5; }
  
  .c16 { grid-area: 7 / 3 / 8 / 4; }
  
  .c17 { grid-area: 7 / 2 / 8 / 3; }
  
  .c18 { grid-area: 7 / 1 / 8 / 2; }
  
  .c19 { grid-area: 6 / 1 / 7 / 2; }
  
  .c20 { grid-area: 5 / 1 / 6 / 2; }
  
  .c21 { grid-area: 4 / 1 / 5 / 2; }
  
  .c22 { grid-area: 3 / 1 / 4 / 2; }
  
  .c23 { grid-area: 2 / 1 / 3 / 2; }
  

.cat {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.squareSel {
    user-select: none;
    cursor: pointer;
}


.active:hover {
    text-shadow: 1px 1px 1px black;
    transform: scale(1.1);
}

#cardDisplay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    background-color: white;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.cardHeader {
    width: 100%;
    border-bottom: 1px solid rgb(236 236 236);
    font-weight: bold;
    text-shadow: 1px 1px 2px #ccc;
    padding-bottom: .5rem;
}

#cardBody { 
    width: 90%;
    margin-top: 5px;
    text-align: center;
    margin: auto;
}

.cardButtons {
    margin-top: 5px;
    width: 95%;
    box-shadow: 2px 2px 2px #ccc;
}

.display {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardUpgrades {
    margin-top: auto;
    cursor: pointer;
    user-select: none;
}

.boardUpgrades:hover {
    font-size: 115%;
    font-weight: bold;
}

.active {
    background-color: rgb(235, 235, 235);
    transition: all .2s ease-in-out;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 100%;
    box-shadow: 2px 2px 4px rgb(54, 54, 54);
    margin: 0px 0px 0px 0px;
    cursor: pointer;

}




.money-generator {
    position: relative;
}

.money-increase {
    position: absolute;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(0, 227, 0);
    animation: floatUp 3s ease-out;
}

@keyframes floatUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.coin {
    width: 16px;
    height: 16px;
    background-image: url('assets/fullcoin.png');
}

.animate-rotation {
    animation: rotateCoin 1s steps(8) infinite;
}

@keyframes rotateCoin {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -128px 0;
    }
}
