:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
	--main-bg-color: #212121;
	--main-text-color: #f0f0f0;
	--main-highlight-color: #2ca9bc;
	--alternative-highlight-color: #f44336;
	--main-border-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
  margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg-color);
	overflow-y: hidden;
	overflow-x: auto;
}

#header {
	width: 100%;
}

#buttons-container {
	margin: auto;
	box-sizing: border-box;
	text-align: center;
}

#buttons-container button {
	font-size: 1.2rem;
}

#main-container {
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#playtime-display {
	text-align: center;
	/* min-height: 30px; */
}

h2 {
	text-align: center;
	font-size: 2rem;
	color: white;
}

